/* Standard Styles */

img,
video {
  width: 100%;
  height: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

section {
  display: flex;
  align: center;
}

article.card {
  padding: 2rem;
  color: hsla(0, 0%, 100%, 0.75);
}

.bg-yellow {
  background-color: hsl(31, 77%, 52%);
}

.bg-blue {
  background-color: hsl(184, 100%, 22%);
}

.bg-green {
  background-color: hsl(179, 100%, 13%);
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}



/* Mobile Only Styles */
@media (max-width: 768px) {
  .flex {
    flex-direction: column;
    max-width: 375px;
}

/* Desktop Only Styles */
@media (min-width: 48em) {
  .flex {
    flex-direction: row;
    max-width: 1440px;
  }
}

