/* Standard Styles */

img,
video {
  width: 100%;
  height: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

section {
  display: flex;
  align: center;
}

article.card {
  padding: 2rem;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.9375rem;
  font-family: 'Lexend Deca', sans-serif;
}

h1 {
  color: hsl(0, 0%, 95%);
  font-size: 2rem;
  font-family: 'Big Shoulders Display', cursive;
  text-transform: uppercase;
}



.bg-yellow {
  background-color: hsl(31, 77%, 52%);
}

.bg-blue {
  background-color: hsl(184, 100%, 22%);
}

.bg-green {
  background-color: hsl(179, 100%, 13%);
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 20 rem;
}

button.learn {
  border-radius: 40px;
  padding: .75rem 1.75rem;
  font-size: 0.9375rem 
  font-family: 'Lexend Deca', sans-serif;
}

/* Mobile Only Styles */
@media (max-width: 768px) {
  .flex {
    flex-direction: column;
    max-width: 375px;
}

/* Desktop Only Styles */
@media (min-width: 48em) {
  .flex {
    flex-direction: row;
    max-width: 1440px;
  }
}

